#miSubseccion {
    background-color:  #00B7EB;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000; 
    margin: 20px;
  }
  body{
        color: #ffffff; 
      }
  
  